{% extends 'layout/basic.html' %}
{% load crispy_forms_tags %}

{% block title %}Добавить место проведения курсов :: Локации{% endblock %}

{% block content %}
<h1>Добавить локацию</h1>
<form action='' method='post'>
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-success" type="submit" value="Save changes"/>
    <a class="btn btn-danger" href="{% url 'add-location' %}" role="button">Cancel changes</a>
    <a class="btn btn-info" href="{% url 'locations' %}" role="button">Back to location addresses</a>
</form>
{% endblock %}
