{% extends 'layout/basic.html' %}
{% load crispy_forms_tags %}

{% block title %}Обновить информацию об аудитории :: Метро{% endblock %}

{% block content %}
<h1>Обновить информацию об аудитории</h1>
<form action='' method='post'>
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-success" type="submit" value="Save changes"/>
    <a class="btn btn-danger" href="{% url 'edit-classroom' classroom.pk%}" role="button">Cancel changes</a>
    <a class="btn btn-info" href="{% url 'classrooms' %}" role="button">Back to locations</a>
</form>
{% endblock %}
